process {
    executor = 'local'
    cpus = 1
    memory = '1 GB'
}

// Enable Docker and Conda for different processes
docker.enabled = true
conda.enabled = true

// Include a separate configuration file for modules
includeConfig 'conf/modules.config'

params {
    reads = 'assets/testdata/*_{R1,R2}.fq.gz'
    reference = 'assets/testdata/ref.fasta'
    gene_bed = 'assets/testdata/target_gene.bed'
    outdir = 'results'
    delete_ratio = 0.1
    intact_ratio = 0.5
}

