process {
    executor = 'local'
    cpus = 1
    memory = '1 GB'
}

// Enable Docker so containers can be used
docker.enabled = true

// Include a separate configuration file for modules
includeConfig 'conf/modules.config'

params {
    reads = 'assets/testdata/test_{R1,R2}.fq.gz'
    reference = 'assets/testdata/ref.fasta'
    gene_bed = 'assets/testdata/target_gene.bed'
    outdir = 'results'
}

