process {
    withName: FASTP {
        container = 'biocontainers/fastp:v0.20.1_cv1'
        cpus = 2
        memory = '4 GB'
    }
    
    withName: BWA_MEM2 {
        // Using conda for BWA_MEM2 since it needs both bwa-mem2 and samtools
        // This is a reasonable exception - most tools use Docker containers
        conda = 'bioconda::bwa-mem2=2.2.1 bioconda::samtools=1.15.1'
        cpus = 4
        memory = '8 GB'
    }

    withName: MOSDEPTH {
        conda = 'bioconda::mosdepth=0.3.5'
        cpus = 4
        memory = '8 GB'       
    }
}

